<mat-spinner *ngIf="isDataLoading"></mat-spinner>
<mat-card *ngIf="!isDataLoading">
  <mat-card-header>
    <mat-card-title>
      NOUVEAUX ÉLÉMENTS
    </mat-card-title>
    <mat-card-subtitle>Ajouter des éléments à la carte</mat-card-subtitle>
  </mat-card-header>
  <form class="auto-form" (ngSubmit)="onPickCommune()">
    <mat-form-field class="example-full-width">
      <mat-label>Commune</mat-label>
      <input type="text" placeholder="Choisissez une commune" aria-label="Commune1" matInput
        [formControl]="communeControl" [matAutocomplete]="cauto">
      <mat-autocomplete autoActiveFirstOption #cauto="matAutocomplete">
        <mat-option *ngFor="let comItem of filteredComItems | async" [value]="comItem">
          {{comItem}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Add</button>
  </form>
  <form class="auto-form" (ngSubmit)="onPickRiver()">
    <mat-form-field class="example-full-width">
      <mat-label>Rivière</mat-label>
      <input type="text" placeholder="Choisissez un cours d'eau" aria-label="River1" matInput
        [formControl]="riverControl" [matAutocomplete]="rauto">
      <mat-autocomplete autoActiveFirstOption #rauto="matAutocomplete">
        <mat-option *ngFor="let rivItem of filteredRivItems | async" [value]="rivItem">
          {{rivItem}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Add</button>
  </form>
  <p>
    <button mat-raised-button color="primary" (click)="onClickUpdateList()">UPDATE</button>
  </p>
  <p>
    <button mat-raised-button color="accent" (click)="onClickDeleteList()">PURGE</button>
  </p>
</mat-card>
