<mat-spinner *ngIf="isCommuneLoading"></mat-spinner>
<mat-card *ngIf="!isCommuneLoading">
  <mat-card-header>
    <mat-card-title>
      Commune
    </mat-card-title>
    <mat-card-subtitle>Adding a new commune</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="communeForm" (ngSubmit)="onAddCommune()">
      <mat-form-field apparence="fill">
        <mat-label>Type a commune name</mat-label>
        <input matInput type="text" id="communeName" formControlName="communeName" class="form-contol" />
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Add</button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Custom feature
    </mat-card-title>
    <mat-card-subtitle>Adding a custom geo feature</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="featureForm" (ngSubmit)="onAddFeature()">
      <mat-form-field>
        <input matInput type="text" id="uri" formControlName="uri" class="form-control" placeholder="URI" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" id="description" formControlName="description" class="form-control"
          placeholder="Description" required />
      </mat-form-field>
      <mat-form-field>
        <textarea matInput rows="4" id="wktGeometry" formControlName="wktGeometry" class="form-control"
          placeholder="WKT polygon coordinates"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" id="projection" formControlName="projection" class="form-control" required
          placeholder="Projection" />
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Add</button>
    </form>
  </mat-card-content>
</mat-card>
