<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="features.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let feature of features">
    <mat-expansion-panel-header>
      <span>
        <div *ngIf="feature.selected; else elseTitleBlock">
          <b>{{ feature.description }}</b>
        </div>
        <ng-template #elseTitleBlock>{{ feature.description }}</ng-template>
      </span>
      <span class="spacer"></span>
      <ul>
        <li>{{ feature.uri }}&nbsp;</li>
      </ul>
    </mat-expansion-panel-header>
    <p>{{ feature.id}}</p>
    <p>{{ feature.selected }}</p>
    <!-- <p>{{ feature.wktGeometry }}</p> -->
    <mat-action-row>

      <button *ngIf="feature.selected; else elseButtonBlock" mat-button color="primary"
        (click)="onToggleFeatureSelection(feature.id,false)">SELECT</button>
      <ng-template #elseButtonBlock><button mat-button color="primary"
          (click)="onToggleFeatureSelection(feature.id,true)">SELECT</button></ng-template>
      <button mat-button color="warn" (click)="onDeleteFeature(feature.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="features.length <= 0 && !isLoading">No posts added yet!</p>
